.reset {
    background-color: #0066b8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    
}

.reset:hover {
    background-color: #004d8c;

}

:global(body.claro) {
    background-color: #ffffff;
    color: #1a1a1a;
}

:global(body.escuro) {
    background-color: #121212;
    color: #ffffff;
}

.tema {
    display: flex;
    justify-content: center;
    border: 2px solid #030303;
    /* espessura, estilo e cor */
    background-color: #ffffff;
    padding: 10px 20px;
    width: 50px;
    border-radius: 10px;
}